{{>header}}

  <div id="content">

    <h2 class="intro">Chat</h2>

    <p>Welcome to chat interface.</p>

    <ul>
      <li>We use secure, encrypted mechanisms (SSL) when accepting and transmitting information.</li>
      <li>We regularly perform security audits and updates on our servers.</li>
    </ul>

  </div>

{{>footer}}
